.table-view {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, deepskyblue, #3753ce);
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-padding: 0px;
}
.table-view .table-column {
    -fx-alignment: CENTER;
}
.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, deepskyblue, #3753ce);
    -fx-background-radius: 8px 8px 0px 0px;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-size: 20px;
}
.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: Poppins;
}